<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dischi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="app" class="container">
      <!-- Header -->
      <header class="top-header">
        <img src="./img/logo.png" alt="Spotify-logo">
      </header>
      <!-- Albums -->
      <div class="albums-container">
        <!-- Filter  -->
        <div class="filter-genre">
            Filter by genre
            <select v-model="actualGenre"
                    @change="filterGenre"
            >
              <option value="all">All</option>
              <option value="pop">Pop</option>
              <option value="rock">Rock</option>
              <option value="metal">Metal</option>
              <option value="jazz">Jazz</option>
            </select>
        </div>
        <!-- Lista album -->
        <ul class="albums-list">
          <li class="album" v-for="album in albums">
            <div class="wrap-images">
              <img :src="album.poster" :alt="album.title">
            </div>

              <h3 class="title"> {{ album.title }}</h3>
              <div class="author">{{ album.author }}</div>
              <div class="year">{{ album.year }}</div>
              <div class="genre">{{ album.genre }}</div>
          </li>
        </ul>

      </div>

    </div>











    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
